body {
    font-family: 'Gotham', sans-serif;
    background-color: #172932;
    padding-top: 120px;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.gradient {
    background: linear-gradient(90deg, #FF0097 20%, #00D3FF 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.roundPink {
    background: #c40075db;
    border-radius: 50%;
    padding: 14px;
    display: inline-block;
    border: 1px solid #FC5CD9;
    box-shadow: 0px 4px 13px #ec008c;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
main .banner h1 {
    font-size: 48px;
    font-weight: 700;
}
h3 {
    font-family: "Gotham Light";
    font-size: 38px;
}
h2 {
    margin-bottom: 25px;
    font-size: 32px;
}
h6 {
    font-family: "Gotham Light";
    font-weight: 500;
}
section {
    padding: 50px 0;
}
header {
    width: 100%;
    position: fixed;
    z-index: 3;
    background: #172932;
    top: 0;
    left: 0;
}
header .button-menu {
    border: 0;
    border-radius: 4px;
    padding: 10px 20px 10px;
    background-color: #EC008C;
    box-shadow: 0px 4px 13px rgba(236, 0, 140, 0.7);
    color: white;
    font-size: 16px;
    font-weight:700;
    text-align: center;
    vertical-align: middle;
}
header .top {
    padding: 15px 0;
}
header .navbar {
    padding: 10px 0;
    border-top: 1px solid #28555F;
}
header .top ul li {
    margin-right: 30px;
}
header .top ul li a i {
    color: #5D696F;
    font-size: 25px;
}
header .top ul li span {
    font-size: 15px;
    color: #5D696F;
    font-weight: 700;
}
header .navbar ul li {
    margin: 0 10px;
    font-weight: 700;
}
header .navbar .nav-link, header .navbar .nav-link .show {
    color: white;
}
header .navbar .nav-link:hover, header .navbar .nav-link .show {
    color: #EC008C;
}
header .navbar .dropdown-item {
    font-weight: 500;
    border-bottom: 2px solid transparent;
    display: inline-block;
    background: transparent;
    width: auto;
}
header .navbar .dropdown-item:hover {
    border-bottom: 2px solid #EC008C;
}
header .navbar .dropdown-menu {
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    min-width: 13rem;
    background: linear-gradient(180deg, #ffffff 20%, rgb(255 255 255 / 28%) 100%);
    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
    backdrop-filter: blur(15px);
    border: 1px solid #c5edf4;
}
header .navbar .dropdown-menu::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}
main .banner {
    padding: 100px 0;
    position: relative;
    z-index: 1;
    background: url(https://dev.hyperaschain.com/img/hyperasChain.jpg) no-repeat center center / cover;
}
main .banner .col-4 a {
    text-decoration: none;
}
main .banner .btn {
    box-shadow: 0px 4px 13px #55C6D0;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-weight:500;
    line-height: 1;
}
main .banner .btn-Blue {
    background-color: #0C94B0;
}
main .banner .btn-Blue::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, rgb(255 255 255 / 0%), #9df7ff);
}
main .banner .btn-Pink {
    background-color: #EC008C;
    /* margin-left: 25px; */
}
main .banner .btn-Pink::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, rgb(255 255 255 / 0%), #9df7ff);
}
main .banner span {
    font-weight: bold;
}
main .wallet {
    border-top: 2px solid #01FFF0;
    border-bottom: 2px solid #01FFF0;
    border-width: 2px;
}
main section .info .sectionHeading {
    font-size: 32px!important;
    font-weight: bold;
    margin-bottom: 25px;
}
main .bg-grid {
    background: #1b2a32 url(https://dev.hyperaschain.com/img/grid.png) no-repeat center top / contain;
    position: relative;
}
main section .btn-readmore a {
    position: relative;
    display: inline-block;
    padding: 15px 40px;
    text-decoration: none;
    color: #EC008C;
    font-weight: bold;
    border-radius: 6px;
}
main section .btn-readmore a::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 2px;
    background: linear-gradient(to right,#FF0097,#00D3FF);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}
main section .btn-readmore a:hover {
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right,#FF0097,#00D3FF);
    border-radius: 6px;
}
main .environment ul li {
    padding: 0 40px;
    font-weight: 500;
}
main .environment ul {
    border-bottom: 1px solid #55C6D0;
    padding: 0 100px 15px;
}
main .environment {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
main section .parentt .frame {
    padding: 30px 10px 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    height: 100%;
    background: linear-gradient(242.01deg, #FFFFFF 20.82%, rgba(255, 255, 255, 0.79) 65.38%);
    box-shadow: 17px 0px 28px rgb(85 198 208 / 15%);
    color: #58595B;
}
main section .parentt .frame::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, rgb(255 255 255 / 0%), #9df7ff);
}
main section .parentt .frame .arrow {
    background: url(https://dev.hyperaschain.com/img/arrowBlue.png);
    width: 24px;
    height: 25px;
    display: inline-block;
}
main section .parentt .frame .arrow:hover {
    background: url(https://dev.hyperaschain.com/img/arorowWhite.png);
}
main section .parentt .frame p {
    height: 45px;
}
main .partners .part {
    width: 20%;
    padding: 25px 15px;
}
main .partners .part a {
    filter: grayscale(1);
}
main .partners .part a:hover {
    filter: grayscale(0);
}
main .innpa, .aso h2 {
    font-family: "Gotham Black";
}
main .innpa p {
    color: #58595B;
    font-family: "Gotham Light";
}
footer {
    position: relative;
    background: linear-gradient(#C40075, #db0082);
}
footer .topper ul li {
    font-size: 25px;
    margin-right: 30px;
}
footer .topper {
    background: #DB0082;
    padding: 15px 0;
}
footer section .col-3 span {
    font-weight: bold;
    font-family: "Gotham";
}
footer section .col-3 ul li {
    margin: 20px 0;
}
footer .copyright {
    border-top: 1px solid #fff;
    margin: 60px 100px 0;
    padding: 5px 0;
    font-size: 13px;
}
footer .copyright a {
    text-decoration: none;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    * img {
        max-width: 100%;
    }
    header .navbar .dropdown-menu {
        transform: none;
        background: white;
    }
    header .navbar .dropdown-menu::before {
        transform: none;
        left: 30px;
    }
    main .banner h1 {
        font-size: 40px;
    }
    main .banner h3 {
        font-size: 30px;
    }
    main section {
        padding: 30px 0;
    }
    main .bg-grid {
        background-position: center top;
        background-size: cover;
    }
    main .banner {
        padding: 50px 0;
    }
    footer ul li {
        margin: 20px 0;
    }
    footer .footerMenuu {
        padding-top: 30px;
    }
}

@media (max-width: 576px) {
    header .top ul li {
        margin-right: 20px;
    }
    header .top ul .d-block {
        margin-right: 0;
    }
    main .banner h1 {
        font-size: 25px;
    }
    main .banner h3 {
        font-size: 22px;
    }
    main .banner {
       text-align: center;
       padding: 20px 0;
    }
    main .banner .btn {
        font-size: 16px;
        padding: 16px 20px;
    }
    main .wallet a {
        margin: 10px 0;
        display: block;
    }
    main .bg-grid h2 {
        font-size: 25px;
    }
    .infoElement .wrapper {
        position: relative;
        padding: 0 0 0 80px;
    }
    .infoElement .wrapper .roundPink {
        position: absolute;
        left: 0;
        top: 0;
    }
    main .environment ul {
        padding: 0 0 15px;
    }
    main .environment ul li {
        padding: 0 6px;
    }
    main section .parentt .frame {
        margin: 5px 0;
        height: auto;
        padding: 0 10px 10px;
    }
    main .partners .part {
        width: 33%;
        padding: 10px;
    }
    footer .logoFooter {
        width: 160px;
    }
    footer .topper ul li {
        margin-right: 15px;
        font-size: 15px;
    }
    footer .topper {
        padding: 0px;
    }
    footer h5 {
        font-size: 16px;
        font-weight: bold;
    }
    footer > section {
        padding: 0px;
    }
    footer .copyright {
        margin: 20px 10px 0;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }
    .navbar-toggler:hover {
        text-decoration: none;
    }
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }
    header .navbar .dropdown-menu {
        transform: none;
        background: white;
    }
    header .navbar .dropdown-menu::before {
        transform: none;
        left: 30px;
    }
}